* {
  box-sizing: border-box;
  margin: 0;
}

::placeholder {
  color: #191a1a;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #191a1a;
}

::-ms-input-placeholder {
  color: #191a1a;
}

html {
  background-color: #0a0a0a;
}

p,
h1,
h2,
h3 {
  font-family: "Helvetica", sans-serif;
}

h2,
h3 {
  margin: 0;
  color: white;
}

form {
  display: flex;
  height: 40px;
}

#map {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 104px;
  z-index: 0;
  border-top: 1px solid #5e5e5e;
}

.incident-number {
    background-color: #0a0a0a;
    position: absolute;
    top: 104px;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;
    text-align: center;
    border: 1px solid #5e5e5e;
    color: white;
    padding: 1em;
}

.incident-number h1 {
    color: red;
}

.fa-search {
  color: white;
}

.fa-times {
    color: white;
}

.search {
  padding: 2em 1em;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  width: 500px;
  border-bottom: 1px solid #5e5e5e;
  
}

.text-input {
  padding: 1em;
  color: #191a1a;
  background-color: lightgray;
  border: none;
  flex-grow: 100;
}

.search-button, .exit-button {
  width: 40px;
  border: none;
}

.search-button {
    background-color: #343332;
}

.exit-button {
    background-color: transparent;
}

.search-results {
  background-color: #343332;
  border-right: 1px solid #5e5e5e;
  position: absolute;
  left: 0;
  top: 105px;
  height: 100vh;
  overflow-y: auto;
}

.incident {
  margin-bottom: 5px;
  padding: 2em;
  background-color: #0a0a0a;
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
  width: 500px;
}

.incident:last-child {
    margin: 0;
    border-bottom: none;
}

.incident:first-child {
    border-top: none;
}
