* {
  box-sizing: border-box;
  margin: 0;
}

::placeholder {
  color: #1b1b1b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #1b1b1b;
}

::-ms-input-placeholder {
  color: #1b1b1b;
}

html {
  background-color: #0a0a0a;
}

body {
  font-family: "Lato", "Helvetica", sans-serif;
  color: white;
}

a {
  display: inline-block;
  color: white;
  margin-top: 8px;
}

form {
  display: flex;
  height: 30px;
  flex-grow: 100;
  margin-left: 1em;
  margin-right: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

.loader-container {
  height: 100vh; 
  width: 100%;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  top: 0;
  transition: opacity 0.5s;
}

.search-loader-container-max {
  margin-top: 0;
  height: 100vh;
  width: 500px;
  margin-top: 450px;
}

.loader-container.search-loader-container-min {
  position: absolute;
  margin-top: 450px;
  height: calc(100vh + 100px);
  width: 100%;
  opacity: 0.5;
}

.loader {
  height: 50px;
  width: 50px;
  color: red;
  border: 5px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.error {
  color: red;
  display: block;
  width: 500px;
  text-align: center;
  display: none;
}

#map {
  height: 100vh;
  position: absolute;
  left: 499px;
  right: 0;
  top: 0;
  z-index: 1;
  border-left: 1px solid #5e5e5e;
}

.incident-number {
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  position: absolute;
  top: 1em;
  height: 150px;
  width: 310px;
  right: 1em;
  text-align: center;
  justify-content: center;
  border: 1px solid #5e5e5e;
  padding: 0 1em 1em 1em;
  z-index: 2;
}

#totalCounter {
  color: red;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.fa-search,
.fa-times {
  color: white;
}

.search {
  padding: 0 1rem;
  height: 70px;
  width: 500px;
  align-items: center;
  display: flex;
}

.text-input {
  padding: 1em;
  color: #1b1b1b;
  background-color: lightgray;
  border: none;
  flex-grow: 100;
}

.text-input, .search-button {
  border-radius: 0;
}

.search-button,
.exit-button {
  border: none;
}

.exit-button {
  width: 40px;
  display: none;
}

.search-button {
  width: 80px;
  background-color: #383838;
}

.search-button:hover {
  background-color: #575757;
}

.search-button:active {
  background-color: #252525; 
}

.exit-button {
  background-color: transparent;
}

.search-results.open { 
  position: absolute;
  left: 0;
  top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  width: 500px;
  border-top: 1px solid #5e5e5e;
}

.search-results p {
  margin-top: 8px;
}

.search-results h3 {
  margin-top: 24px;
}

.incident {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2em;
  background-color: #0a0a0a;
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
}

.incident:first-child {
  margin-top: 0;
  border-top: none;
}

.incident:last-child {
  margin-bottom: 0;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  margin: 0;
}

@media (max-width: 830px) {

  .error {
    width: 100%;
  }

  #map {
    top: 150px;
    left: 0;
    height: 300px;
    border-left: none;
    border-bottom: 1px solid #5e5e5e;
  }

  .incident-number {
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .incident-number p {
    width: 300px;
  }
  
  .search {
    margin-top: 450px;
    height: 70px;
    width: 100%;
  }

  .search-results.open {
    top: 520px;
    height: 100%;
    width: 100%;
  }
}
